<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
  <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>
    </layout>
  </appender>
  <appender name="file" class="org.apache.log4j.FileAppender">
		<param name="File" value="target/testlogs/output.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%t] %-5p %c %x - %m%n" />
		</layout>
	</appender>
  <root>
    <priority value="debug"/> 
    <appender-ref ref="file"/>
  </root>
</log4j:configuration>
